.card{
    width: 6.5vW;
    height:13vh;
}

.cover{
    width: 6.5vW;
    height: 13vh;
    background-color: #6DDCCF
}

.content{
    width: 6.5vW;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 242, 255);
}

.ReactCardFlip{
    width: 100%;
    height: 100%;
}