.header{
    margin-top: 15vh;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 5vh;

}
.row{
    aling-items: center;
    justify-content: center;
}

.col-md-4{
    width: 20%;
    margin-right: 0;
}

.App {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
}

.App-title {
    font-size: 5px;
}

.Timers {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

@media (max-width: 30px) {
    .Timers {
        align-items: center;
        position: relative;
    }
}
@media (max-width: 30px) {
    .Stopwatch {
        margin-bottom: 10px;
    }
}

.Stopwatch {
    border: 2px solid #57CC99;
    border-radius: 4px;
    padding: 10px;
    width: 250px;
    background-color: #D7F7DB;

}

.Stopwatch-header {
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #57CC99;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 8px 18px;
    color: #ffffff;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

button:hover {
    background-color: #57CC99;
}
.Stopwatch-display {
    padding: 5px 0;
    font-size: 15px;
}

.attempt{
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 10px;
    margin-top: 1.5vh;
}
.retry{
    width: 60px;
    height: 60px;
    margin-top: 1.5vh;
}
.retry img{
    margin-left: -13px;
    margin-top: -4px;

}