.MuiToolbar-root{
    background-color: #57CC99;
}

.MuiDrawer-paper{
    background-color: #D7F7DB;
    height: 100vh;
}
.MuiTypography-body1{
    font-weight:bold;
    font-family: 'Varela Round', sans-serif;
}

.MuiListItem-gutters {
    margin-top: 60px;
}

.activeLink:link{
    color: #282c34;
    text-decoration: none;
}

.MuiDrawer-root{
    height: 100%;
}